In [1]:
#OBJECTIVE
'''To use the Chi-Square test for independence to determine 
if there's a significant association between the type of 
smart home device purchased (Smart Thermostats vs. Smart Lights) 
and the customer satisfaction level.'''

#ASSIGNMENTS TASKS

#1. State the Hypotheses:
'''Ho:  variables are independent (No relationship)
H1:  variables are dependent (having relationship)'''

'Ho:  variables are independent (No relationship)\nH1:  variables are dependent (having relationship)'

In [2]:
#importing the pandas library as pd
import pandas as pd
#Intializing the data of lists
data = {'Satisfaction':['Very Satisfied','Satisfied','Neutral','Unsatisfied','Very Unsatisfied'],
        'Smart Thermostat': [50,80,60,30,20],
        'Smart Light': [70,100,90,50,50],
        'Total':[120,180,150,80,70]}
 
# Creating DataFrame of data
df = pd.DataFrame(data)
df

       Satisfaction  Smart Thermostat  Smart Light  Total
0    Very Satisfied                50           70    120
1         Satisfied                80          100    180
2           Neutral                60           90    150
3       Unsatisfied                30           50     80
4  Very Unsatisfied                20           50     70

In [3]:
#2. Compute the Chi-Square Statistic:
import researchpy as rp
table,results=rp.crosstab(df['Smart Thermostat'],df['Smart Light'],test='chi-square')
table

                 Smart Light
Smart Light               50 70 90 100 All
Smart Thermostat
20                         1  0  0   0   1
30                         1  0  0   0   1
50                         0  1  0   0   1
60                         0  0  1   0   1
80                         0  0  0   1   1
All                        2  1  1   1   5

In [4]:
results

                 Chi-square test  results
0  Pearson Chi-square ( 12.0) =   15.0000
1                     p-value =    0.2414
2                  Cramer's V =    1.0000

In [5]:
#3. Determine the Critical Value:
'''Using the significance level (alpha) of 0.05 and 
the degrees of freedom (which is the number of categories minus 1)'''

#number of catagories =5 ===>> degrees of freedom =5-1=4

import scipy.stats as stats
crit = stats.chi2.ppf(q = 0.95, df = 4)
crit.round(4)

9.4877

In [6]:
#4. Make a Decision:
'''Compare the Chi-Square statistic with the critical value to 
decide whether to reject the null hypothesis.'''

Chisquare_statistic = 15.0000
Critical_value = 9.4877

if Chisquare_statistic < Critical_value :
    print("Ho is rejected and H1 is accepted")
else:
    print("Ho is accepted and H1 is rejected")

Ho is accepted and H1 is rejected

In [7]:
#CONCLUSION:
'''  We have statistical evidence to claim that there is no Association/relationship / dependency 
existing between the type of smart home device purchased
(Smart Thermostats vs. Smart Lights) and the customer satisfaction level.  '''

'  We have statistical evidence to claim that there is no Association/relationship / dependency \nexisting between the type of smart home device purchased\n(Smart Thermostats vs. Smart Lights) and the customer satisfaction level.  '